body{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.contenedor-principal {
    position: relative;
    display: flex;
    border: 5px solid rgb(255, 255, 255);
    width: 25%;
    height: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
}
.header .navbar{
    position: 

}

.link:hover
{
    box-shadow: 0 0 2rem black;
    cursor: pointer;
}
section{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border: 2px cornflowerblue;

}
.contenedor-texto{
    margin: 3rem;
    width: 50%;
}
.contenedor-texto h1{
    font-size: 10rem;

}

