
        img{
            height: 50%;
            width: 50%;
        
        }
        *{
            background-color: #BFA7F2;
        }
        p{
            border-bottom: 7px solid #5D37AF;
        }
    